@viewport {
    width:480px;
    zoom:1;
}

* { margin:0; padding:0;}

body {
    font-size: 13px;
}

header, nav, main, section, article ,footer {display:block;}

.wrapper {
    background-color: white;
    font-family: 'Arial', sans-serif;
}

#en-version {
    font-size: 11px;
}

#en-version main, #en-version aside article,
#en-version #golan-telecom-top article p:first-child, #en-version #golan-telecom-top article p:nth-child(3),
#en-version #golan-telecom-top article p:nth-child(4), #en-version #golan-telecom-top article p:nth-child(4) span, #en-version article,
#en-version #what-we-do article, #en-version #when-we-start article, #en-version #who-are-we article , #en-version #careers article, #en-version #form-back
{
    direction: ltr;
}

#en-version #golan-telecom-top article p:first-child {
    margin-left: 6px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    display: inline-block;
    height: 89px;
    width: 203px;
    background-image: url(../images/logo.png);
}


/* WIDE DESKTOP LAYOUT
----------------------------------------------- */

@media only screen and (min-width: 900px) {

    body {
        background-color: #d9d9d9;
    }

    h1 {
        width: 538px;
        height: 48px;
        background: url(../images/red-line.png);
        line-height: 48px;
        font-size: 1.538em;
        direction: rtl;
        color: white;
        position: relative;
        right: 50px;
        top: 70px;
        z-index: 13;
        box-shadow: 1px 0px 20px 0px #858588;
        padding-right: 15px;
    }

    nav {
        width: 199px;
        height: 188px;
        margin-right: 42px;
        position: fixed;
        right: 14.2%;
        top: 206px;
        z-index: 10;
        direction: rtl;
    }

    .delete {
        position: relative;
        right: 524px;
        bottom: 10px;
        color: red;
        font-size: 1.8em;
    }

    .save {
        position: relative;
        right: 470px;
        bottom: 10px;
        color: green;
        font-size: 1.8em;
    }

    #en-version .delete {
        left: 520px;
    }

    #en-version .save {
        left: 475px;
    }

    .clear {
        clear: both;
    }

    .logo {
        margin-top: 57px;
    }

    .lang , .admin{
        display: inline-block;
        width: 52px;
        height: 22px;
        font-size: 0.846em;
        text-align: center;
        line-height: 22px;
        color: #262262;
        margin: 19px 0;
        background-image: url(../images/langButton.png);
    }

    .wrapper {
        max-width: 991px;
        width: 100%;
        height: 5119px;
        margin: 0 auto 150px;
    }

    header {
        float: right;
        width: 20.585%;
        height: 337px;
        right: 207px;
        direction: rtl;
        margin-right: 41px;
    }

    nav ul li a {
        color: #262262;
        font-size: 1.23em;
        font-weight: bold;
        padding-right: 16px;
    }

    nav > ul > li {
        width: 158px;
        height: 34px;
        line-height: 34px;
        margin-bottom: 4px;
        box-shadow: 2px 3px 20px 2px #cbcbcc;
        display: inline-block;
        background-color: white;
    }

    #en-version nav ul li a {
        font-size: 0.99em;
    }

    #en-version form {
        padding: 28px 0px 0px 55px;
    }

    #en-version #form-back > span {
        left: 0;
    }

    #en-version input[type=text], #en-version input[type=email], #en-version input[type=tel] {
        padding: 3.5px 0px 3.5px 8px;
    }

    #en-version input[type=radio] {
        margin: 0 0 0 10px;
    }

    #en-version form section:nth-child(7) > span:nth-child(4) {
        margin-left: 20px;
        margin-right: 0;
    }

    #en-version form section:nth-child(7) > input:nth-child(5) {
        margin-right: 0;
        margin-left: 14px;
    }

    #en-version form section:nth-child(8) label {
        border-radius: 0px 10px 10px 0px;
        margin: 4.5px 0px 4.5px 7px;
    }

    #en-version input[type=submit] {
        bottom: 31px;
        right: -57px;
    }

    .selected-nav {
        background-color: #3b4355;
    }

    .selected-nav a {
        color: #949495;
    }

    .selected-nav nav ul li:first-child p{
        background: url(../images/question-hover.png) no-repeat;
    }

    nav ul li p {
        background-color: #cbcbcc;
        width: 34px;
        height: 34px;
        display: inline-block;
        margin-right: -41px;
        float: right;
        box-shadow: 2px 3px 20px 2px #cbcbcc;
        border-radius: 19%;
    }

    nav ul li:first-child p{
        background: #dededf url(../images/question-side.png) no-repeat;
    }

    nav ul li:nth-child(2) p{
        background: #dededf url(../images/who-are-we-side.png) no-repeat;
    }

    nav ul li:nth-child(3) p{
        background: #dededf url(../images/power-side.png) no-repeat;
    }

    nav ul li:nth-child(4) p{
        background: #dededf url(../images/list-side.png) no-repeat;
    }

    nav ul li:nth-child(5) p{
        background: url(../images/shtrudel-side.png) no-repeat;
    }

    nav ul li:first-child p:hover {
        background: url(../images/question-hover.png) no-repeat;
    }

    nav ul li:nth-child(2) p:hover{
        background: #dededf url(../images/whoarewe-hover.png) no-repeat;
    }

    #p-hover{
        background: #dededf url(../images/whoarewe-hover.png) no-repeat;
    }

    nav ul li:nth-child(3) p:hover{
        background: #dededf url(../images/on-hover.png) no-repeat;
    }

    nav ul li:nth-child(4) p:hover{
        background: #dededf url(../images/book-hover.png) no-repeat;
    }

    nav ul li:nth-child(5) p:hover{
        background: url(../images/at-hover.png) no-repeat;
    }

    .side-line {
        background: url(../images/red-line-back.png);
        display: block;
        width: 64px;
        height: 96px;
        position: relative;
        left: -64px;
        z-index: 0;
    }

    .title-icon {
        width: 113px;
        height: 113px;
        display: inline-block;
        position: relative;
        left: 503px;
        z-index: 12;
        border-radius: 15%;
        box-shadow: 2px 3px 20px 0px #979798;
    }

    .boundary-line {
        background: url(../images/line.png);
        display: block;
        width: 993px;
        height: 11px;
        position: relative;
        right: 1px;
        z-index: 0;
    }

    aside {
        width: 226px;
        height: 279px;
        background: url(../images/news-back.png) no-repeat;
        position: relative;
        bottom: 206px;
        right: 30px;
        float: right;
        direction: rtl;
        padding-top: 29px;
    }

    aside h5 , aside a {
        margin-right: 49px;
        color: #656565;
    }

    aside h5:first-child {
        background: url(../images/icon_rss.png) no-repeat right;
        height: 32px;
        line-height: 32px;
        padding-right: 40px;
    }

    aside span:nth-child(2) {
        display: block;
        background: url(../images/grey-line-news.png);
        width: 122px;
        height: 1px;
        margin: 8px auto;

    }

    aside h5:nth-child(3) {
        background: url(../images/newspaper.png) no-repeat right;
        height: 32px;
        line-height: 32px;
        padding-right: 40px;
    }

    aside > ul {
        list-style-type: none;
        margin-top: 9px;
    }

    aside > ul > li {
        margin-bottom: 10px;
    }
    aside > ul > li > a {
        margin-right: 52px;
        color: #0e1b4a;
        font-size: 0.923em;
        text-decoration: underline;
    }

    aside > ul > li > a:hover {
        color: #ed1c24;
    }

    .selected-article a{
        font-weight: bold;
        color: #ed1c24;
    }

    /*aside section*/
    #myModal{
        background: white;
        width: 812px;
        height: 410px;
        display: none;
        position: relative;
        top: 50px;
        right: 65px;
        z-index: 15;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 20px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        width: 80%;
        display: block;
    }

    aside article {
        width: 775px;
        height: 410px;
        direction: rtl;
        z-index: 20;
        padding-top: 46px;
        padding-right: 30px;
        display: none;
    }

    aside h4 {
        color: #252f41;
        font-size: 1.1em;
        z-index: 20;

    }

    aside h3 {
        color: #ed1c24;
        font-size: 1.85em;
        text-align: center;
    }

    aside p {
        color: #616161;
        font-size: 0.95em;
        z-index: 20;

    }

    /* The Close Button */
    .close {
        background: url(../images/close.png);
        width: 26px;
        height: 26px;
        display: none;
        position: relative;
        top: 47px;
        right: 66px;
        border-radius: 25%;
        box-shadow: 2px 3px 16px 0px #979798;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


    main {
        width: 100%;
        margin-bottom: 150px;
    }

    #golan-telecom-top {
        width: 68.51664985%;
        height: 629px;
    }

    #golan-telecom-top article {
        width: 618px;
        height: 472px;
        position: relative;
        bottom: 101px;
        font-family: 'Rubik', sans-serif;
    }

    #golan-telecom-top article p:first-child{
        font-size: 2.76em;
        color: #262f43;
        margin-top: 62px;
        direction: rtl;

    }

    #golan-telecom-top article span{
        color: #353535;
        font-size: 1.076em;
        margin-left: 31px;
    }

    #golan-telecom-top article p:nth-child(3){
        font-size: 2.46em;
        color: #ed1c24;
        direction: rtl;
        margin-top: 40px;
        margin-bottom: 75px;
    }

    #en-version #golan-telecom-top h1 {
        font-size: 1.37em;
    }

    #en-version #golan-telecom-top article p:nth-child(4) {
        left: 155px;
    }

    #en-version #golan-telecom-top article span:nth-child(2) {
        margin-left: 1px;
        position: relative;
        left: 323px;
    }

    #en-version #golan-telecom-top article p:nth-child(3) {
        margin-left: 6px;
        margin-bottom: 45px;
        font-size: 2.34em;
    }

    #en-version #golan-telecom-top article span {
        margin: 0;
    }

    #en-version #golan-telecom-top article a {
        position: relative;
        left: 386px;
        padding: 10px 24px;
    }

    #en-version #who-are-we > article > img:nth-child(6) {
        left: 392px;
    }

    #en-version p {
        font-size: 1.1em;
    }

    #en-version aside h5 {
        padding-left: 36px;
        margin-left: 49px;
        direction: ltr;
        background-position: unset;
        padding-right: 0px;
    }

    #en-version aside > ul {
        direction: ltr;
        width: 177px;
    }

    #en-version #nav-list {
        direction: ltr;
    }

    #en-version nav {
        right: 10.8%;
    }

    #golan-telecom-top article p:nth-child(4){
        font-size: 1.692em;
        color: #ed1c24;
        direction: rtl;
        position: relative;
        right: 294px;
    }

    #golan-telecom-top article a{
        padding: 10px 26px;
        line-height: 46px;
        border: 1px solid #ed1c24;
        background-color: white;
        color: #262f43;
        font-size: 1.23em;
        font-family: Arial;
        font-weight: bold;
        margin-left: 53px;
        box-shadow: 2px 8px 20px 0px #b1b1b2;
    }

    #golan-telecom-top article p:nth-child(4) span{
        font-size: 1.363em;
        color: #ed1c24;
        direction: rtl;

    }

    main h4 {
        color: #ed1c24;
        font-size: 1.23em;
        width: 536px;
        background: url(../images/whoarewe-line.png) no-repeat bottom;
        padding-bottom: 8px;

    }

    main h5 {
        font-size: 1.0769em;
        color: #ed1c24;
        margin-bottom: 25px;
    }

    .red-line {
        background: url(../images/whoarewe-line.png) no-repeat bottom;
        padding-bottom: 8px;
        width: 536px;
        height: 1px;
        display: block;
        margin: 35px 0px;
    }

    .entrepreneurs > h5 > span:nth-child(2) {
        font-size: 0.923em;
        font-weight: normal;
    }

    .entrepreneurs {
        margin-bottom: 30px;
    }


    #golan-telecom-top .line { top: 76px; }

    #golan-telecom-top .side-line { top: 29px; }

    #golan-telecom-top .title-icon{
        background-image: url(../images/phone.png);
        top: -101px;
    }

    #what-we-do {
        height: 517px;
        background-color: #f0f0f0;
    }

    #what-we-do article, #when-we-start article, #who-are-we article , #careers article {
        position: relative;
        bottom: 65px;
        left: 46px;
        width: 568px;
        direction: rtl;
        color: #353535;
    }

    #what-we-do .line { top: 70px; }

    #what-we-do .side-line { top: 22px; }

    #what-we-do .title-icon{
        background-image: url(../images/question.png);
        top: -105px;
        border-radius: 17%;

    }

    #who-are-we {
        height: 1004px;
    }

    #who-are-we .line { top: 75px; }

    #who-are-we .side-line { top: 22px; }

    #who-are-we .title-icon{
        background-image: url(../images/whoarewe.png);
        top: -103px;
    }

    #who-are-we > article > p:first-child {
        width: 413px;
        height: 194px;
        float: left;
    }

    #who-are-we > article > img:nth-child(2){
        float: right;
        margin-top: 20px;
    }

    #who-are-we > article > img:nth-child(5) {
        margin-top: 10px;
        margin-bottom: 36px;
    }

    #who-are-we > article > img:nth-child(6) {
        position: relative;
        top: -30px;
        right: 392px;
    }
    #when-we-start {
        height: 345px;
        background-color: #f0f0f0;
    }

    #when-we-start .line { top: 61px; }

    #when-we-start .side-line { top: 22px; }

    #when-we-start .title-icon{
        background-image: url(../images/power.png);
        top: -114px;
    }

    #careers {
        min-height: 1728px;
    }

    #careers .line { top: 74px; }

    #careers .side-line { top: 26px; }

    #careers .title-icon{
        background-image: url(../images/list.png);
        top: -104px;
    }

    #careers > article > img:nth-child(2) {
        float: right;
        margin-top: 26px;
        margin-left: 26px;
    }

    #careers > article > p:nth-child(3) {
        float: left;
        margin-top: 35px;
        width: 415px;
    }

    #contact-us {
        height: 889px;
        background-color: #f0f0f0;
    }

    #contact-us .line { top: 68px; }

    #contact-us .side-line { top: 22px; }

    #contact-us .title-icon{
        background-image: url(../images/shtrudel.png);
        top: -110px;
    }


    .job span:nth-child(3) {
        color: #262f43;
        font-size: 3.077em;
        margin-left: 20px;
    }

    #en-version .job span:nth-child(3) {
        margin-right: 20px;
        margin-left: 0;
    }

    .job span:nth-child(4), .job span:nth-child(6) {
        position: relative;
        bottom: 18px;
        color: black;
    }

    #careers > article {
        color: #353535;
        margin-bottom: 25px;
    }

    .job-desc , .job-desc-val{
        margin-right: 45px;
    }

    #en-version .job-desc ,#en-version .job-desc-val{
        margin-left: 45px;
    }

    #en-version .job span:nth-child(5),#en-version .job span:nth-child(7){
        margin-left: 0px;
        margin-right: 20px;
    }

    .job-desc {
        margin-top: 22px;
    }

    .job span:nth-child(5), .job span:nth-child(7){
        position: relative;
        bottom: 18px;
        color: #ed1c24;
        margin-left: 20px;
        margin-bottom: 24px;
    }

    #who-are-we-mobile, #when-we-start-mobile, #contact-us-mobile, #what-we-do-mobile, #careers-mobile, #nav-mobile {
        display: none;
    }

    #form-back {
        direction: rtl;
        background: url(../images/form-back.png) no-repeat;
        width: 597px;
        height: 511px;
        position: relative;
        bottom: 65px;
        left: 37px;
    }

    #form-back > span {
        background: url(../images/form-rounds.png) no-repeat;
        height: 138px;
        width: 167px;
        display: block;
        position: relative;
        right: 437px;
        top: 44px;
    }

    form {
        height: 427px;
        width: 563px;
        margin: auto;
        padding: 28px 50px 0px 0px;
        color: #dedede;
    }

    form span {
        font-weight: bold;
        text-decoration: underline;
        font-size: 1.23em;
    }

    form section:first-child, form section:nth-child(2) {
        height: 87px;
        width: 280px;
        float: right;
    }

    input[type=text], input[type=email], input[type=tel] {
        width: 193px;
        margin: 7.5px 0px;
        padding: 3.5px 8px 3.5px 0px;
        border-radius: 14px;
        border-style: unset;
        box-shadow: inset 0px 0px 4px 1px #858588;
    }

    input[type=radio] {
        -webkit-appearance: checkbox;
        margin: 0 10px 0 0;
        content: " ";
        display: inline-block;
        position: relative;
        top: 5px;
        width: 22px;
        height: 22px;
        background-color: ghostwhite;
        box-shadow: inset 0px 0px 4px 1px #858588;
    }

    input[type=checkbox] {
        width: 22px;
        height: 22px;
    }

    input[type=submit] {
        background: url(../images/form-submit.png) no-repeat;
        width: 163px;
        height: 87px;
        border-style: none;
        position: relative;
        bottom: 30px;
        right: 50px;
        line-height: 87px;
        font-size: 1.823em;
        font-weight: bold;
        color: white;
    }

    input[type=submit]:focus {
        outline: 0;
    }

    form section:nth-child(5),form section:nth-child(7) {
        margin-top: 10px;

    }

    form section:nth-child(8) {
        margin-top: 20px;
        display: inline-block;
    }

    form section:nth-child(8) label {
        background-color: snow;
        color: #484848;
        font-size: 13px;
        padding: 3.5px 5px 3.5px 0;
        width: 233px;
        vertical-align: super;
        display: inline-block;
        border-radius: 10px 0px 0px 10px;
        margin: 4.5px 7px 4.5px 0;
    }

    form section:nth-child(7) > span:nth-child(4) {
        margin-right: 20px;
    }

    form section:nth-child(7) > input:nth-child(5) {
        width: 83px;
        margin-right: 8px;
    }

    form section:nth-child(8) > span:nth-child(2) {
        text-decoration: none;
        font-weight: normal;
        font-size: 1em;
        margin-right: 73px;
    }



}/*END of media for desktop */

/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX)
----------------------------------------------- */

@media only screen and (max-width: 899px) {

    body {
        width: 360px;
        margin: 0 auto;
    }

    .wrapper {
        max-width: 100%;
        background-color: white;
        margin: 0 auto;
    }

    header {
        width: 100%;
        min-height: 95px;
        text-align: center;
    }

    .logo {
        display: block;
        background-size: 80% auto;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 16px auto 10px;
    }

    .lang {
        display: inline-block;
        position: relative;
        bottom: 109px;
        right: 140px;
        background-color: #d9d9d9;
        padding: 4.5px 2.5px;
        border-radius: 15%;
    }

    #golan-telecom-top article p:first-child,
    #golan-telecom-top article span:nth-child(2),
    #golan-telecom-top h3, #golan-telecom-top h1,
    aside, .admin {
        display: none;
    }

    #golan-telecom-top {
        width: 100%;
        margin: 0 auto;
        position: relative;
        bottom: 10px;
    }

    #golan-telecom-top article {
        width: 93%;
        height: 320px;
        direction: rtl;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        margin: 0 auto;
        background-color: #f0f0f0;

    }

    #golan-telecom-top article p:nth-child(3) {
        color: #262f43;
        width: 70%;
        margin: 0 auto;
        font-size: 2.46em;
        padding-top: 26px;
        padding-bottom: 37px;
    }

    #golan-telecom-top article p:nth-child(4) {
        color: #ed1c24;
        font-size: 1.384em;
        position: relative;
        bottom: 3%;
    }

    #golan-telecom-top article p:nth-child(4) span{
        color: #ed1c24;
        font-size: 1.150em;
        position: relative;
        bottom: 6%;
    }

    #golan-telecom-top article a:nth-child(5) {
        display: block;
        width: 194px;
        line-height: 50px;
        background-color: #ed1c24;
        color: white;
        font-size: 2.538em;
        padding: 6px 0px;
        border-radius: 4%;
        position: relative;
        margin: 0 auto;
        bottom: 2%;
    }

    nav {
        position: relative;
        left: 4%;
        display: none;
    }

    nav section article p {
        background: none;
        width: 100%;
    }

    #nav-mobile{
        position: relative;
        left: 4%;
        display: block;
    }

    #nav-mobile button {
        width: 330px;
        height: 35px;
        background-color: #262f43;
        direction: rtl;
        line-height: 35px;
        margin-bottom: 5px;
        display: inline-block;
    }

    #nav-mobile a {
        color: whitesmoke;
        font-size: 1.67em;
        line-height: 34px;
        font-weight: bold;
        text-align: center;
    }

    #nav-mobile  p {
        width: 34px;
        display: inline-block;
        border-radius: 19%;
        margin-right: -40px;
        float: right;
    }

    #nav-mobile article p {
        width: 100%;
        display: block;
        border-radius: 0;
        margin: 0 auto;
        float: none;
    }

    #nav-mobile article {
        padding: 10px;
    }

    #nav-mobile article img {
        display: block;
        margin: 9px auto 0;
    }

    #nav-mobile article span:first-child {
        font-size: 1.5rem;
    }

    #nav-mobile article span:nth-child(3) {
        color: #ed1c24;
    }

    #nav-mobile article span:nth-child(4) {
        margin-right: 7%;
    }

    #nav-mobile article span:nth-child(5) {
        color: #ed1c24;
    }

    #nav-mobile article span:nth-child(7) {
        display: block;
        margin-top: 7%;
    }

    #nav-mobile section {
        width: 94%;
        direction: rtl;
    }

    button a {
        text-decoration: none;
        margin: 0 auto;
        width: 295px;
        display: block;
        text-align: center;
    }

    h3, h4 {
        display: none;
    }

    h5 {
        direction: rtl;
        text-align: right;
        font-size: 1em;
        color: #ed1c24;
        padding-bottom: 1%;
    }

    #nav-mobile button:first-child p:first-child {
        background: url(../images/question-hover.png) no-repeat;
    }

    #nav-mobile button:nth-child(3) p{
        background: url(../images/whoarewe-hover.png) no-repeat;
    }

    #nav-mobile button:nth-child(5) p{
        background: url(../images/on-hover.png) no-repeat;
    }

    #nav-mobile button:nth-child(7) p{
        background: url(../images/book-hover.png) no-repeat;
    }

    #nav-mobile button:nth-child(9) p{
        background: url(../images/at-hover.png) no-repeat;
    }

    #who-are-we-mobile, #when-we-start-mobile, #contact-us-mobile, #what-we-do-mobile, #careers-mobile {
        display: none;
    }

    #who-are-we, #when-we-start, #contact-us, #what-we-do, #careers {
        display: none;
    }


    #who-are-we-mobile p{
        background: none;
        width: 70%;
        margin: 0 auto;
        direction: rtl;
    }

    #en-version #nav-mobile article {
        direction:ltr;
    }

    #nav-mobile #contact-us-mobile section {
        margin-left: 0;
        margin-right: 10px;
    }

    form {
        width: 320px;
        margin: 0 auto;
        color: #273851;
    }

    form p {
        display: block;
        width: 330px !important;
        margin: auto;
    }

    form span {
        font-size: 1.2em;
        font-weight: bold;
    }

    form > section {
        display: block;
        margin: 0 auto 14px;
    }

    input[type=text], input[type=tel], input[type=email] {
        margin: 10px 0;
        padding: 4px 2px;
        width: 96%;
        border: none;
        border-bottom: 2px solid #273851;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 23px;
        margin-right: 10px;
    }

    .switch input {display:none;}

    .slider {
        position: absolute;
        cursor: pointer;
        top: 7px;
        left: 0;
        right: 0;
        bottom: -7px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #ed1c24;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #ed1c24;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    input[type=checkbox] {
        margin: 0 10px 0 0;
        content: " ";
        position: relative;
        top: 5px;
        width: 22px;
        height: 22px;
        background-color: ghostwhite;
        box-shadow: inset 0px 0px 4px 1px #858588;
    }

    .check {
        line-height: 22px;
    }

    input[type=submit] {
        background-color: #ed1c24;
        width: 300px;
        height: 36px;
        margin: auto;
        display: block;
        border-style: none;
        line-height: 36px;
        font-size: 1.8em;
        font-weight: bold;
        color: white;
    }

    input[type=submit]:active {
        background-color: #a0191d;
    }

    input[type=submit]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
        outline: 0;
    }

    input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
        border-bottom: 2px solid #4398cb;
    }

    .red-line {
        display: block;
        width: 330px;
        background: red;
        height: 1px;
    }

    #en-version input[type=text],
    #en-version input[type=email],
    #en-version input[type=tel],
    #en-version form span,
    #en-version form section {
        direction: ltr;
    }

    #en-version form span {
        display: block;
    }

    #en-version .switch {
        right: 240px;
    }

}

